@import "../../utilities/_variables"

@media screen and (min-width: 1200px)
    .new-main
        display: flex
        align-items: center
        justify-content: center
        background: $background
        width: 100%
        min-height: 800px
        height: 100vh
        max-height: 920px
        overflow: hidden

    .main-wrapper
        position: relative
        width: 1200px
        min-height: 800px
        height: 100vh
        max-height: 920px

    .main-banner
        display: flex
        height: 100%
        flex-wrap: wrap
        align-content: center

    .ellipse
        position: absolute
        right: -320px
        top: 52px
        width: 680px
        height: 680px
        border-radius: 100%
        background: $green

    .medium-ellipse
        position: absolute
        width: 560px
        height: 560px
        border-radius: 100%
        left: 0
        right: 0
        top: 50%
        transform: translateY(-50%)
        margin: auto
        background-color: $background
        background-image: url("./img/medium.jpg")
        background-size: cover
        background-position: center

    .small-ellipse
        position: absolute
        width: 280px
        height: 280px
        border-radius: 100%
        bottom: -80px
        right: 100px
        margin: auto
        background-color: $background
        background-image: url("./img/small.jpg")
        background-size: cover
        background-position: center
        border: solid 12px $background
    
    .broccoli
        position: absolute
        bottom: -200px
        left: -200px

    .text-block

        h1
            color: $dark-green
            font-weight: 700

            width: 420px

        span
            color: $green

        p
            width: 100%