@import "../../utilities/_variables"

.banners
    width: 100%

.about-block
    position: relative

    width: 800px
    height: 280px

    background: $background

    border-radius: 12px

.first
    position: relative

    img
        position: absolute
        z-index: 1
        top: 0px
        left: 0px
        
        height: 160px

    .block-texts 
        position: absolute
        bottom: 24px
        left: 24px

.second
    position: relative

    img
        position: absolute
        bottom: 0px
        left: 0px
        
        height: 160px

    .block-texts 
        position: absolute
        top: 24px
        left: 24px

.third
    position: relative

    img
        position: absolute
        top: 0px
        right: 0px
        
        height: 160px

    .block-texts 
        position: absolute
        bottom: 24px
        left: 24px

.about-text
    font-size: 28px
    font-weight: 700
    line-height: 32px

    margin: 0px

    color: $green

.accent
    color: $dark-green