.brand
    font-weight: 900
    font-size: 20px

    color: #FFFFFF

.navlink
    font-weight: 400
    font-size: 16px
    text-decoration: none

    color: #dddddd
    transition: all ease-out 0.3s
    transform: scale(0.9)

    &:hover
        color: #fff
        transform: scale(1)

.absolute
    position: absolute
    top:0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
